<footer>
  <div class="mdl-grid">
    <div class="mld-cell mdl-cell--4-col mdl-cell--12-col-phone" id="connect">
      Connect<br>
      <a href="blog.html">
        Blog
      </a><br>
      <a href="https://facebook.com/hackslashjecrc">
        Facebook
      </a><br>
      <a href="https://twitter.com/hackslashjecrc">
        Twitter
      </a>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone" id="programs">
      Programs<br>
      <a href="linux-day.html">
        Linux Day
      </a>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone" id="mark">
      <img src="/assets/images/logo-snake.png" width="100%">
    </div>

  </div>
</footer>

<div id="credits">
  <span>Designed & Developed by <a href="https://maddhruv.github.io/">Dhruv Jain</a></span>
</div>
