<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<meta name="keywords" content="HackSlash, JECRC, HackSlash JECRC, JECRC Coding Community">
<link href="/assets/images/logo-rabbit-small.png" rel="icon" type="image/png" />
<meta name="author" content="midhruvjaink" />
<!--robot-->
<link rel="manifest" href="manifest.json" />
<meta content="index, follow" name="robots" />
<meta content="1 days" name="revisit-after" />
<meta content="all" name="robots" />
<meta content="all" name="googlebot" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" href="/assets/stylesheets/styles.min.css">
